/*--------------------------------------------- Global Styles --------------------------------------------- */

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  color: black;

  outline-color: red;
  outline-width: 1px;
}



/*--------------------------------------------- Main Container Styles --------------------------------------------- */

.container1 {
  text-align: center;
  margin-top: 10px;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container3 {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
}

.container3LHS {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.container3RHS {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  margin: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container4RHS {
  position: relative;
}

h1 {
  color: #99ad6a;
}

h2 {
  color: #022073;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #99ad6a;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: #022073;
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.8s ease;
  width: 190px;
}

a {
  margin-top: 5px;
  margin-bottom: 5px;
  border: red;
  border-radius: 5px;
  color: #022073;
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.8s ease;
  width: 190px;
}

img {
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 10px;
}

.formDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#detector_Weight {
  border-radius: 5px;
  color: #022073;
  width: 150px;
  margin-top: 10px;
}

option {
  width: 300px;
}
select {
  margin-top: 10px;
  width: 160px;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
  text-align: center;
}

.drawingRequestForm {
  background-color: white;
  border: 3px solid #022073;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
  display: none;
}

.sendDrawingRequestBtn {
  margin-top: 10px;
}

#DetectorInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#outputDetectorInfo {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 344px;
  height: 115px;
  background-color: #f0f0f0;
  color: #022073;
  font-size: 11px;
  text-align: left;
}

.drawingRequestForm {
  background-color: white;
  border: 3px solid #022073;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
  display: none;
}

.sendDrawingRequestBtn {
  margin-top: 10px;
}

.buttons{
  margin-top: 10px;
}
