/*--------------------------------------------- Output Positioning On Image --------------------------------------------- */

#outputApetureHeight {
  position: absolute;
  top: 43%;
  left: 12%;
}

#outputApetureWidth {
  position: absolute;
  top: 75%;
  left: 45.5%;
}

#dimension100_LHS {
  position: absolute;
  top: 75%;
  left: 26.5%;
}

#dimension100_RHS {
  position: absolute;
  top: 75%;
  left: 65%;
}

#dimensionWcT {
  position: absolute;
  top: 82%;
  left: 45.5%;
}

#dimensionA1 {
  position: absolute;
  top: 28%;
  left: 12%;
}

#dimensionA2 {
  position: absolute;
  top: 58%;
  left: 12%;
}

#dimensionA3 {
  position: absolute;
  top: 12%;
  left: 25%;
}

#dimensionThk_RHS {
  position: absolute;
  top: 90%;
  left: 78%;
}

#dimensionThk_LHS {
  position: absolute;
  top: 90%;
  left: 19%;
}

#dimensionZ {
  position: absolute;
  top: 90%;
  left: 48%;
}

#dimensionZcT {
  position: absolute;
  top: 84%;
  left: 48%;
}

#dimensionMFZ_LHS {
  position: absolute;
  top: 12%;
  left: 17%;
}

#dimensionMFZ_RHS {
  position: absolute;
  top: 12%;
  left: 78%;
}

#dimensionDMFZ_LHS {
  position: absolute;
  top: 5%;
  left: 15%;
}

#dimensionDMFZ_RHS {
  position: absolute;
  top: 5%;
  left: 81%;
}

#dimensionZ2_LHS {
  position: absolute;
  top: 78%;
  left: 35%;
}

#dimensionZ2_RHS {
  position: absolute;
  top: 78%;
  left: 55%;
}

#dimension88 {
  position: absolute;
  top: 12%;
  left: 90%;
}

#cableDim {
  position: absolute;
  top: 75%;
  left: 81%;
}

#lengthPlusModule {
  position: absolute;
  top: 5%;
  left: 58%;
}

#length {
  position: absolute;
  top: 89%;
  left: 55%;
}

#height {
  position: absolute;
  top: 43%;
  left: 4%;
}

#lengthFrontToApeture {
  position: absolute;
  top: 12%;
  left: 74%;
}

/*--------------------------------------------- Media Queries For Responsive a web-page --------------------------------------------- */


@media screen and (max-width: 770px) {
  .imgSideView {
    width: 337px;
  }
  .container3 {
    border: none;
  }
  .container3LHS {
    border: none;
  }
  .container3RHS {
    border: none;
  }
  #lengthPlusModule {
    top: 2%;
    left: 55%;
  }
  #dimension88 {
    top: 9%;
    left: 89%;
  }
  #lengthFrontToApeture {
    top: 9%;
    left: 72%;
  }
  #dimensionA3 {
    top: 9%;
    left: 23%;
  }
  #dimensionA2 {
    top: 26%;
    left: 10%;
  }
  #dimensionA1 {
    top: 55%;
    left: 10%;
  }
  #height {
    top: 41%;
    left: 1%;
  }
  #outputApetureHeight {
    top: 41%;
    left: 12%;
  }
  #length {
    top: 85%;
    left: 50%;
  }
  #dimensionWcT {
    top: 79%;
    left: 43%;
  }
  #dimension100_LHS {
    top: 72%;
    left: 25%;
  }
  #dimension100_RHS {
    top: 72%;
    left: 62%;
  }
  #outputApetureWidth {
    top: 72%;
    left: 43%;
  }
  #cableDim {
    top: 72%;
    left: 79%;
  }
  .drawingRequestForm {
    width: 375px;
  }
}

@media screen and (max-width: 1090px) {
  .container3RHS {
    flex-direction: column;
  }
}

@media screen and (max-width: 1520px) {
  .container2 {
    flex-direction: column;
  }
}
