/*--------------------------------------------- Global Styles --------------------------------------------- */

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  color: black;

  /* outline: auto;
  outline-color: red; */
}

/*--------------------------------------------- Main Container Styles --------------------------------------------- */

.container1 {
  text-align: center;
  /* border: 3px solid #022073;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%); */
  margin-top: 20px;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container3 {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
}

.container3LHS {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container3RHS {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container4RHS {
  position: relative;
}

h1 {
  color: #99ad6a;
}

h2 {
  color: #022073;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #99ad6a;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: #022073;
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.8s ease;
  width: 190px;
}

button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.formDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formDiv2 {
  display: flex;
  text-align: justify;
  flex-direction: column;
}

#weight {
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #022073;
}

option {
  width: 300px;
}
select {
  margin-top: 10px;
  width: 160px;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
}

output {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
  height: 20px;
}

#DetectorInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#detectorInfoOutput {
  margin-bottom: 10px;
  width: 350px;
  margin-left: auto;
  height: 115px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #022073;
  font-size: 11px;
  text-align: left;
  padding: 5px;
}

.labelDetInfo {
  text-align: left;
}

#calculateBtn {
  margin-top: 10px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}

#info-tooltip-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

/*--------------------------------------------- Output Positioning On Image --------------------------------------------- */

#outputApetureHeight {
  position: absolute;
  top: 41%;
  left: 1%;
}

#outputApetureWidth {
  position: absolute;
  top: 73%;
  left: 35%;
}

#dimension100_LHS {
  position: absolute;
  top: 73%;
  left: 16%;
}

#dimension100_RHS {
  position: absolute;
  top: 73%;
  left: 54.6%;
}

#dimensionWcT {
  position: absolute;
  top: 80.5%;
  left: 35%;
}

#dimensionA1 {
  position: absolute;
  top: 26%;
  left: 1%;
}

#dimensionA2 {
  position: absolute;
  top: 55.5%;
  left: 1%;
}

#dimensionA3 {
  position: absolute;
  top: 10%;
  left: 15%;
}

#dimensionThk_RHS {
  position: absolute;
  top: 88%;
  left: 58%;
}

#dimensionThk_LHS {
  position: absolute;
  top: 88%;
  left: -2%;
}

#dimensionZ {
  position: absolute;
  top: 88%;
  left: 28%;
}

#dimensionZcT {
  position: absolute;
  top: 82%;
  left: 28%;
}

#dimensionMFZ_LHS {
  position: absolute;
  top: 10%;
  left: -4%;
}

#dimensionMFZ_RHS {
  position: absolute;
  top: 10%;
  left: 61%;
}

#dimensionDMFZ_LHS {
  position: absolute;
  top: 3%;
  left: -4%;
}

#dimensionDMFZ_RHS {
  position: absolute;
  top: 3%;
  left: 61%;
}

#dimensionZ2_LHS {
  position: absolute;
  top: 76%;
  left: 18%;
}

#dimensionZ2_RHS {
  position: absolute;
  top: 76%;
  left: 39%;
}

#dimension88 {
  position: absolute;
  top: 10%;
  left: 79.5%;
}

#cableDim {
  position: absolute;
  top: 73%;
  left: 70%;
}

#lengthPlusModule {
  position: absolute;
  top: 3%;
  left: 49%;
}

#length {
  position: absolute;
  top: 86.5%;
  left: 43%;
}

#height {
  position: absolute;
  top: 41%;
  left: -7%;
}

#lengthFrontToApeture {
  position: absolute;
  top: 10%;
  left: 65%;
}

/*--------------------------------------------- Drawing Request Styles --------------------------------------------- */

.drawingRequestForm {
  width: 460px;
  text-align: center;
  background-color: white;
  border: 3px solid #022073;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin: 10px;
  z-index: 1;
  display: none;
  align-items: center;
}

.sendDrawingRequestBtn {
  margin-top: 10px;
}

/*--------------------------------------------- Media Queries For Responsive a web-page --------------------------------------------- */

@media screen and (max-width: 475px) {
  .container3 {
    border: none;
  }
  .container3LHS {
    border: none;
  }
  .container3RHS {
    border: none;
  }
  .container4RHS > * {
    display: block;
  }
  #lengthPlusModule {
    top: -1%;
    left: 40%;
  }
  #dimension88 {
    top: 6%;
    left: 68%;
  }
  #lengthFrontToApeture {
    top: 6%;
    left: 53%;
  }
  #dimensionA3 {
    top: 6%;
    left: 3%;
  }
  #dimensionA2 {
    top: 23%;
    left: -9%;
  }
  #dimensionA1 {
    top: 53%;
    left: -9%;
  }
  #height {
    top: 39%;
    left: -18%;
  }
  #outputApetureHeight {
    top: 39%;
    left: -9%;
  }
  #length {
    top: 83%;
    left: 32%;
  }
  #dimensionWcT {
    top: 77%;
    left: 24%;
  }
  #dimension100_LHS {
    top: 70%;
    left: 5%;
  }
  #dimension100_RHS {
    top: 70%;
    left: 43%;
  }
  #outputApetureWidth {
    top: 70%;
    left: 24%;
  }
  #cableDim {
    top: 70%;
    left: 59%;
  }
}

@media screen and (max-width: 770px) {
  .imgSideView {
    width: 337px;
  }
}

@media screen and (max-width: 1090px) {
  .container3RHS {
    flex-direction: column;
  }
}

@media screen and (max-width: 1570px) {
  .container2 {
    flex-direction: column;
  }
}
