/*--------------------------------------------- Global Styles --------------------------------------------- */

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  color: black;

  outline: auto;
  outline-color: red;
}

/*--------------------------------------------- Main Container Styles --------------------------------------------- */

.container1 {
  text-align: center;
  border: 3px solid #022073;
  border-radius: 20px;
  /* padding: 20px;
  margin: 20px; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container2 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1570px) {
  .container2 {
    flex-direction: column;
  }
}

.container3 {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
}

.container3LHS {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.container3RHS {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

h1 {
  color: #99ad6a;
}

h2 {
  color: #022073;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #99ad6a;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: #022073;
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.8s ease;
  width: 190px;
}

button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.formDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formDiv2 {
  display: flex;
  text-align: justify;
  flex-direction: column;
}

#weight {
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #022073;
}

option {
  width: 300px;
}
select {
  margin-top: 10px;
  width: 160px;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
}

output {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
  height: 20px;
}

#DetectorInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#detectorInfoOutput {
  margin-bottom: 10px;
  width: 350px;
  margin-left: auto;
  height: 115px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #022073;
  font-size: 11px;
  text-align: left;
  padding: 5px;
}

.labelDetInfo {
  text-align: left;
}

#calculateBtn {
  margin-top: 10px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
}

#info-tooltip-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

/*--------------------------------------------- Output Positioning On Image --------------------------------------------- */

img {
  max-width: 100%;
  height: auto;
}

#outputApetureHeight {
  position: absolute;
  top: 47%;
  left: 34.4%;
}

#outputApetureWidth {
  position: absolute;
  top: 66%;
  left: 47.2%;
}

#dimension100_LHS {
  position: absolute;
  top: 66%;
  left: 40%;
}

#dimension100_RHS {
  position: absolute;
  top: 66%;
  left: 54.6%;
}

#dimensionWcT {
  position: absolute;
  top: 70%;
  left: 47.2%;
}

#dimensionA1 {
  position: absolute;
  top: 38%;
  left: 34.4%;
}

#dimensionA2 {
  position: absolute;
  top: 55.5%;
  left: 34.4%;
}

#dimensionA3 {
  position: absolute;
  top: 28%;
  left: 39.4%;
}

#dimensionThk_RHS {
  position: absolute;
  top: 74.8%;
  left: 83.5%;
}

#dimensionThk_LHS {
  position: absolute;
  top: 74.8%;
  left: 71%;
}

#dimensionZ {
  position: absolute;
  top: 74.8%;
  left: 77.2%;
}

#dimensionZcT {
  position: absolute;
  top: 71%;
  left: 77.2%;
}

#dimensionMFZ_LHS {
  position: absolute;
  top: 28%;
  left: 71%;
}

#dimensionMFZ_RHS {
  position: absolute;
  top: 28%;
  left: 83.3%;
}

#dimensionDMFZ_LHS {
  position: absolute;
  top: 23.5%;
  left: 70.6%;
}

#dimensionDMFZ_RHS {
  position: absolute;
  top: 23.5%;
  left: 83.6%;
}

#dimensionZ2_LHS {
  position: absolute;
  top: 67.5%;
  left: 75.2%;
}

#dimensionZ2_RHS {
  position: absolute;
  top: 67.5%;
  left: 79%;
}

#dimension88 {
  position: absolute;
  top: 28%;
  left: 64.2%;
}

#cableDim {
  position: absolute;
  top: 66%;
  left: 60.5%;
}

#lengthPlusModule {
  position: absolute;
  top: 23.5%;
  left: 51%;
}

#length {
  position: absolute;
  top: 74%;
  left: 50%;
}

#height {
  position: absolute;
  top: 47%;
  right: 57.7%;
}

#lengthFrontToApeture {
  position: absolute;
  top: 28%;
  left: 58%;
}

/*--------------------------------------------- Drawing Request Styles --------------------------------------------- */
.drawingRequestForm {
  width: 460px;
  text-align: center;
  background-color: white;
  border: 3px solid #022073;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin: 10px;
  z-index: 1;
  display: none;
  align-items: center;
}

.sendDrawingRequestBtn {
  margin-top: 10px;
}
