/*--------------------------------------------- Global Styles --------------------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  color: black;

  /* outline: auto;
  outline-color: red; */
}

/*--------------------------------------------- Main Container Styles --------------------------------------------- */

.container1 {
  text-align: center;
  border: 3px solid #022073;
  border-radius: 20px;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 20px;
  margin: 50px;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container3 {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
}

.container3.nonConveyors {
  margin-left: 20px;
  margin-right: 20px;
}

.container3RHS {
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.container3LHS {
  position: relative;
  display: inline-block;
  border: 3px solid #99ad6a;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

h1 {
  color: #99ad6a;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #022073;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #99ad6a;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  color: #022073;
  background-color: #f0f0f0;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.8s ease;
  width: 190px;
}

button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.formDiv {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.formDiv2 {
  display: flex;
  text-align: justify;
}

option {
  width: 300px;
}
select {
  margin-top: 10px;
  width: 160px;
}

label {
  margin-top: 10px;
}

input {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
}

output {
  margin-top: 10px;
  width: 160px;
  margin-left: auto;
  /* border: 1px solid #757575;
  border-radius: 2px; */
  height: 20px;
}

.labelDetInfo {
  text-align: left;
}

#calculateBtn {
  margin-top: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

img {
  width: 900px;
  height: 450px;
  display: block;
}

#outputApetureHeight {
  position: absolute;
  top: 37%;
  left: 2.7%;
}

#outputApetureWidth {
  position: absolute;
  top: 62.5%;
  left: 22.6%;
}

#dimensionA1 {
  position: absolute;
  top: 49%;
  left: 2.7%;
}

#dimensionA2 {
  position: absolute;
  top: 24%;
  left: 2.7%;
}

#dimensionA3 {
  position: absolute;
  top: 11%;
  left: 10.5%;
}

#dimensionWcT {
  position: absolute;
  top: 68.5%;
  left: 22.6%;
}

#dimensionThk_RHS {
  position: absolute;
  top: 75%;
  left: 78.5%;
}

#dimensionThk_LHS {
  position: absolute;
  top: 75%;
  left: 59.5%;
}

#dimensionZ {
  position: absolute;
  top: 75%;
  left: 69%;
}

#dimensionZcT {
  position: absolute;
  top: 70%;
  left: 69%;
}

#dimensionMFZ_LHS {
  position: absolute;
  top: 11%;
  left: 59.6%;
}

#dimensionMFZ_RHS {
  position: absolute;
  top: 11%;
  left: 78.5%;
}

#dimensionDMFZ_LHS {
  position: absolute;
  top: 5%;
  left: 59%;
}

#dimensionDMFZ_RHS {
  position: absolute;
  top: 5%;
  left: 79.5%;
}
